name: Keep Render API Alive

on:
  workflow_dispatch:
  schedule:
    - cron: '*/10 * * * *'  

jobs:
  ping-api:
    runs-on: ubuntu-latest
    steps:
      - name: Ping the API
        run: curl -f -s -o /dev/null https://fullstack-portfolio-backend-tbnd.onrender.com/api/v1/projects/status/health
